<!DOCTYPE html>
<html>
    <head>
        <title>GitInit.IO</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Welcome to GitInit.IO</h1>

        <div class="authorized">
            <h2>Hello, welcome back <span id="lblGitHubUsername">UserName</span>!</h2>
            <button id="btnSignout">Signout</button>
        </div>
        <div class="not-authorized">
            <button class="connect-github">Connect to GitHub</button>
        </div>

        <div class="authorized">
            <form action="/create" name="form_create_repo">
                <label>Name:</label>
                <input type="text" name="new-repo-name" id="">
                <label>Description:</label>
                <input type="text" name="new-repo-desc" id="">
                <label>Private</label>
                <input type="checkbox" name="new-repo-isprivate" id="">
                <input type="hidden" name="token" id="form-hidden-token">
                <button type="submit">Create</button>
            </form>
        </div>

        <script src="/static/index.js"></script>
    </body>
</html>