<!DOCTYPE html>
<html>
    <head>
        <title>GitInit.IO</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Welcome to GitInit.IO</h1>

        <div class="authorized">
            <h2>Hello, welcome back <span id="lblGitHubUsername">UserName</span>!</h2>
            <button id="btnSignout">Signout</button>
        </div>
        <div class="not-authorized">
            <button class="connect-github">Connect to GitHub</button>
        </div>

        <script src="/static/index.js"></script>
    </body>
</html>